:root {
  --main-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --main-white-color: #ffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --secondary-black-color: #000000;
  --background-dark-color: #2f303a;
  --background-light-color: #f5f4fa;
  --background-blue-color: #188ce8;
}

body {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  background-color: var(--main-white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----Header Positioning----- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 93px;
}

.header-list {
  display: flex;
  gap: 50px;
}

.contacts-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

/* -----Header-Logo----- */

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.secondary-black {
  color: var(--secondary-black-color);
}

/* -----Header Site Nav----- */
.header-link,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.contacts-link.link {
  color: var(--text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-list .current {
  color: var(--accent-color);
}

/* -----Header Contacts----- */
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* -----Hero Section----- */
.hero {
  background-color: var(--background-dark-color);
}

.hero.section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
    text-align: center;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.hero-button {
  margin-top: 30px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--background-blue-color);
}
/* -----List of Merits----- */
.merits-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.merits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -----What We Do----- */
.activities-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* -----Our Team----- */
.team {
  background-color: var(--background-light-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-member-role {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -----Portfolio Page----- */
.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--background-light-color);
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* -----Footer----- */
.footer {
  background-color: var(--background-dark-color);
}

/* -----Footer Positioning----- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  gap: 9px;
}

/* -----Footer Logo----- */
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.main-white {
  color: var(--main-white-color);
}

/* -----Footer Contacts----- */
.footer-address {
  margin-top: 20px;

  font-style: normal;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.footer-link.contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
